In [9]:
import numpy as np
import pandas as pd

In [10]:
df=pd.read_csv('imdb_top_1000.csv')

In [11]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [12]:
df.shape

(1000, 16)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [14]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [16]:
#df['Released_Year'].astype('int')

df.loc[df['Released_Year'] == 'PG'] = 1995

In [17]:
df['Released_Year'] = df['Released_Year'].astype('int')

In [18]:
def era_class(y):
    if y < 1970:
        return "Classic"
    elif 1970 <= y < 1990:
        return "Golden Age"
    elif 1990 <= y < 2010:
        return "Modern"
    else:  # 2010 and above
        return "Contemporary"
    
df['Era'] = df['Released_Year'].apply(era_class)

In [19]:
df.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Era
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Modern
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",Golden Age
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",Modern

In [20]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross', 'Era'],
      dtype='object')

In [21]:
selected_col = ['Series_Title', 'Certificate', 'Genre', 'Director', 'Star1',
                'Star2', 'Star3', 'Star4', 'Era']
x=df[selected_col].astype('str').agg(lambda x: ' '.join(x), axis=1)

In [22]:
x

0      The Shawshank Redemption A Drama Frank Darabon...
1      The Godfather A Crime, Drama Francis Ford Copp...
2      The Dark Knight UA Action, Crime, Drama Christ...
3      The Godfather: Part II A Crime, Drama Francis ...
4      12 Angry Men U Crime, Drama Sidney Lumet Henry...
                             ...
995    Breakfast at Tiffany's A Comedy, Drama, Romanc...
996    Giant G Drama, Western George Stevens Elizabet...
997    From Here to Eternity Passed Drama, Romance, W...
998    Lifeboat nan Drama, War Alfred Hitchcock Tallu...
999    The 39 Steps nan Crime, Mystery, Thriller Alfr...
Length: 1000, dtype: object

In [23]:
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

stop = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
punct = string.punctuation + "'"

def preprocess(text):
    text = ''.join([c for c in text.lower() if c not in punct])
    tokens = text.split()
    tokens = [lemmatizer.lemmatize(w, pos='v') for w in tokens if w not in stop]
    return ' '.join(tokens)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [24]:
x_cleaned=x.apply(preprocess)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
vectorizer=TfidfVectorizer()
x_vector=vectorizer.fit_transform(x_cleaned)

In [26]:
data={}
for movie,vector in zip(df['Series_Title'], x_vector.toarray()):
    data[movie]=vector

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend_movie(film,movie_dictionary,n=5):
    if film  in movie_dictionary:
        film_vector = movie_dictionary[film]
        dummy_dict = {}
        for m, v in movie_dictionary.items():
            if  m!= film:
                cosine = cosine_similarity([film_vector],[v])[0][0]
                dummy_dict[m] = cosine
        lst=sorted(dummy_dict.items(), key=lambda x: x[1], reverse=True)[:n]
        return [i[0] for i in lst]
    else:
        return "no movie found"

In [28]:
recommend_movie('The Dark Knight', data,n=5)

['The Dark Knight Rises',
 'Batman Begins',
 'The Prestige',
 'Brokeback Mountain',
 '3:10 to Yuma']

In [29]:
file={'movie_dictionary':data,'df':df}
import pickle
with open('movie_recommendation.pkl', 'wb') as f:
    pickle.dump(file, f)